body {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family:  sans-serif;
}
.overlay {
width: 100%;
height: 100vh;
position: absolute;
top: 0;
}

.home-bg {
background-image: url("./image/smile.webp");
background-size: cover;
background-repeat: no-repeat;
object-fit: center;

}

.sidebar-bg {
background-image: url("./image/home.webp");
background-size: cover;
background-repeat: no-repeat;
object-fit: center;

}



.slide {
    position: absolute;
    left: -600px;
    width: 300px;
    height: 100vh;
    background: blue;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 0.1s;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}



.container {
scroll-snap-type: y mandatory;
overflow-y: scroll;
height: 100vh;
}



#start-section {
height: 80vh;
background: #5352ED;
scroll-snap-align: start;
}

#content-section {
height: 100vh;
background: #fff;
color: #000;
display: flex;
align-items: center;
justify-content: center;
scroll-snap-align: start;

}

#about-section {
height: 100vh;
background: #001E6C;
color: #fff;
display: flex;
align-items: center;
justify-content: center;
scroll-snap-align: start;

}

#footer-section {
height: 100vh;
background: #FF8C32;
color: #fff;
display: flex;
align-items: center;
justify-content: center;
scroll-snap-align: start;

}